apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
data:
  username: {{ .Values.DB.username | toString | b64enc }}
  password: {{ .Values.DB.password | toString | b64enc }}
  root_password: {{ .Values.DB.root_password | toString | b64enc }}
  
