app:
  name: toystore
  replicaCount: 1
  minreplicas: 1
  maxreplicas: 5
  average_utilization: 70
  image:
    repo_app: toy0store-backend
    tag_app: latest
  containerport: "8080"
  serviceport: "80"
  #Docker_secret: ecr-secret
  CPU: 
    Min: 100m
    Max: 200m
  Memory:
    Min: 50Mi
    Max: 100Mi
  
  env:
    - name: DB_URL
      value: "jdbc:mysql://mydb-headless:3306/toystore"
    
    - name: DB_USERNAME
      valueFrom:
        secretKeyRef:
          name: db-credentials
          key: username
    
    - name: DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: db-credentials
          key: password
      


DB:
  replicaCount: 1
  minreplicas: 2
  maxreplicas: 5
  average_utilization: 70
  name: mydb
  image:
    name: mariadb
    tag: "10.1.32"
  volumeclaimtemplates:
    name: mysqldb
  volumemount:
    Path: /var/lib/mysql
  username: toystore
  password: 123
  databasename: toystore
  root_password: root_pass
  containerport: "3306"
  serviceport: "3306"
  CPU: 
    Min: 250m
    Max: 400m


env:
  - name: MYSQL_USER
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: username
  
  - name: MYSQL_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: password
  
  - name: MYSQL_ROOT_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-credentials
        key: root_password
      


  - name: MYSQL_DATABASE
    valueFrom:
      configMapKeyRef:
        name: db-info
        key: db-name
